html {
    font-family: "Gloock", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #FFFDF7;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
    flex: 1;
}

.geologica-font, p, li {
    font-family: "Geologica", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "CRSV" 0,
        "SHRP" 0;
}

.gloock-font {
    font-family: "Gloock", serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-family: "hepta-slab", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.navbar {
    padding: 24px 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 300;
}

nav a{
    text-decoration: none;
    color: #FFFDF7;
    font-size: 16px;
    padding: 0.25rem;
    border-radius: 0.25rem;
    transition: background-color 0.2s ease, color 0.2s ease;
}

nav a:hover {
    background-color: #FFFDF7;
    color: black;
}

.nav-toggle {
    display: none;
    flex-direction: column;
    padding: 5px;
    background-color: #FFFDF7;
}

.nav-toggle span {
    display: flex;
    background-color: black;
    width: 22px;
    height: 2px;
    margin: 3px 0;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vw;
}

.nav-menu.show {
    display: flex;
    position: absolute;
    right: 0px;
    top: 57px;
    flex-direction: column;
    align-items: flex-end;
    background-color: var(--background-color);
    padding: 1rem;
}

.right-section-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 20rem;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: black;
    color: #FFFDF7;
    padding: 0.5rem 0;
    position: sticky;
    bottom: 0;
}

.icon-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #FFFDF7;
}

.icon-wrapper img {
    padding: 0;
    margin: 0;
    box-shadow: none;
    width: 2rem;
    border-radius: none;
}

.linkedin-icon {
    width: 1rem;
    height: 1rem;
    border-radius: none;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex {
    display: flex;
    flex-direction: row;
}

.full-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 80%;
}

.main-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    widtH: 80%;
    gap: 4rem;
}

.main-text {
    align-self: flex-start;
}

main {
    margin: 0px 16px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: auto;
    overflow-y: auto;
    scrollbar-width: none;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.contact-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
}

.img-background {
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: fit-content;
    padding: 1rem;
    background-color: black;
    border-radius: 1rem;
}

#portrait {
    border-radius: 1rem;
}

p {
    font-size: 16px;
}

.small-text {
    font-size: 12px;
}

h3 {
    font-size: 24px;
}

h2 {
    font-size: 32px;
}

h1 {
    font-size: 40px;
}

#welcome-title {
    font-size: 70px;
}

.name-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: #FFFDF7;
    font-size: 16px;
    padding: 0.25rem;
    border-radius: 0.25rem;
    transition: background-color 0.2s ease, color 0.2s ease;
}

a:hover {
    background-color: #FFFDF7;
    color: black;
}

.left-info img {
    max-width: 100%;;
}

button {
    color: #FFFDF7;
}

.margin-12 {
    margin-right: 12px;
    margin-bottom: 12px;
    padding: 0;
}

.margin-16 {
    margin-bottom: 16px;
}

.margin-20 {
    margin-top: 20px;
}

.margin-24 {
    margin-bottom: 24px;
}

.margin-40 {
    margin-top: 40px;
}

#hp-logo {
    width: 3%;
    height: 3%;
}

.experience-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}

.sticky-header {
    position: sticky;
    top: 0px;
    z-index: 200;
    background-color: #FFFDF7;
    padding-bottom: 1rem;
}

.control {
    border-color: black;
    border-radius: 0.25rem;
    background-color: #FFFDF7;
    color: black;
    padding: 0.25rem 1rem;
    margin: 0;
    cursor: pointer;
}

.active {
    background-color: black;
    color: #FFFDF7;
}

.project-item {
    max-width: 100%;
    padding: 0;
    margin: 0;
}

#project-container.list-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#project-container.list-view .project-item {
    width: 40rem;
}

.divider {
    height: 1px;
    width: 50%;
    background-color: black;
    margin: 2rem 0;
}

#project-container.list-view .project-item img {
    max-width: 100%;
    border-radius: 1rem;
}
 
#full-project-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

#project-container.grid-view {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

#project-container.grid-view .project-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 25rem;
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 8px;
    box-sizing: border-box;
}

#project-container.grid-view .project-item img {
    width: 100%;
    border-radius: 1rem;
}

#project-container.carousel-view {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


#project-container.carousel-view .project-item {
    display: flex;
    flex-direction: column;
    align-self: center;
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 8px;
    box-sizing: border-box;
    width: 50rem;
    height: 35rem;
}

#project-container.carousel-view .project-item img {
    width: 100%;
    border-radius: 1rem;
}

.carousel-btn {
    display: none;
    border: none;
    background-color: transparent;
    border-radius: 1rem;
    width: 5rem;
    height: 5em;
    transition: 0.25s ease;
}

#prev-btn {
    left: 0;
}

#next-btn {
    right: 0;
}

.carousel-btn img {
    width: 100%;
    height: 100%;
}

.carousel-btn:hover {
    background-color: #F46197;
    cursor: pointer;
}

.img-wrapper {
    width: 100%;
    height: fit-content;
    overflow: hidden;
    border-radius: 1rem;
}

.img-wrapper img {
    width: 100%;
    border-radius: 1rem;
}

/* breakpoint for phone/mobile */
@media (max-width: 420px) {
    .nav-menu {
        display: none;
    }

    .nav-menu.show {
        display: flex;
        position: absolute;
        right: 0px;
        top: 57px;
        flex-direction: column;
        align-items: flex-end;
        background-color: black;
        padding: 1rem;
    }

    .nav-toggle {
        display: flex;
        flex-direction: column;
        padding: none;
    }

    .main-content {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-top: 9rem;
    }

    .experience-group {
        grid-template-columns: 1fr;
        gap: 0.5rem;
    }

    .divider {
        width: 100%;
    }

    #grid-ctrl {
        display: none;
    }

    #project-container.carousel-view .project-item {
        max-width: 19rem;
        height: fit-content;
    }

    #project-container.carousel-view .project-item img {
        max-width: 19rem;
    }

    .carousel-btn {
        width: 3rem;
        padding: 0;
    }

    .carousel-btn:hover {
        background-color: transparent;
    }

}

/* breakpoint for tablet */
@media (min-width: 421px) and (max-width: 1024px) {
    .nav-menu {
        display: none;
    }

    .nav-menu.show {
        display: flex;
        position: absolute;
        right: 0px;
        top: 57px;
        flex-direction: column;
        align-items: flex-end;
        background-color: black;
        padding: 1rem;
    }

    .nav-toggle {
        display: flex;
        flex-direction: column;
        padding: none;
    }

    .main-content {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-top: 9rem;
    }

    .left-info img {
        width: 15rem;
        height: auto;
    }

    .experience-group {
        grid-template-columns: 1fr;
        gap: 0.5rem;
    }

    .divider {
        width: 100%;
    }

    #grid-ctrl {
        display: none;
    }

    #project-container.carousel-view .project-item {
        max-width: 19rem;
        height: fit-content;
    }

    #project-container.carousel-view .project-item img {
        max-width: 19rem;
    }

    .carousel-btn {
        width: 3rem;
        padding: 0;
    }

    .carousel-btn:hover {
        background-color: transparent;
    }
}